.claro{
    background: white;
    color: black;
}

.escuro{
    background: #222;
    color: white;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    /* border: none; */
    background: #a09ca0;
}

a{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    color: black;
    background: #a09ca0;
    text-decoration: none;
}